/* start custom scss snippet */

.main {
	padding: 0 1rem !important;
}

.article__content a, .article__content a:link, .article__content a:visited {
    font-weight: 500 !important;
}

.has-aside .col-aside {
	display: none !important;
}

.article__content {
	line-height: 1.6 !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal !important;
}

h2, h3 {
	margin-top: 1rem !important;
	margin-bottom: 0 !important;
}

h2 {
	font-size: 2rem !important;
}

.article__content hr {
	margin: 0 !important;
}

.article__content hr::before {
	content: none !important;
}

/* Side Bar */

ul.toc--navigator .toc-h2, ul.toc--navigator .toc-h2 a {
	font-weight: 600;
}

ul.toc .toc-h1, ul.toc .toc-h1 a {
	font-weight: 600;
}

.page__sidebar {
	max-width: 300px !important;
}

.page__sidebar .sidebar-toc {
	padding: 5px !important;
}

ul.toc .toc-h3 {
	margin-left: 0.5rem !important;
}

.collapse-button {
	cursor: pointer !important;
}

.collapse-button:hover {
	background-color: #ddd !important;
}

.collapse-content {
	overflow: hidden !important;
	transition: max-height 0.2s ease-out !important;
}

/* This is needed for some reason so that the sidebar is highlighted */
ul.toc--navigator > li.active a {
	margin-left: unset !important;
}

/* end custom scss snippet */
