/* start custom scss snippet */

.main {
	padding: 0 1rem;
}

.article__content blockquote {
	border-left-color: #a83535 !important;
}

.has-aside .col-aside {
	display: none !important;
}

.article__content {
	line-height: 1.6 !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal !important;
}

h2 {
	font-size: 2rem !important;
}

.article__content hr::before {
	content: none;
}

/* Side Bar */

.page__sidebar .sidebar-toc {
	padding: 5px !important;
}

ul.toc .toc-h3 {
	margin-left: 0.5rem !important;
}

.collapse-button {
	cursor: pointer !important;
}

.collapse-button:hover {
	background-color: #ddd !important;
}

.collapse-content {
	overflow: hidden !important;
	transition: max-height 0.2s ease-out !important;
}

/* This is needed for some reason so that the sidebar is highlighted */
ul.toc--navigator > li.active a {
	margin-left: unset !important;
}

/* end custom scss snippet */
